---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<a href="/">
		<img src="../../public/logo.svg" alt="">
	</a>
	<nav>
		<!-- <HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink> -->
	</nav>
</header>
<style>
	img {
		width: 200px;
		height: auto;
		transition: transform ease .3s;
	}
	img:hover {
		transform: scale(1.1);
		object-fit: contain;
	}
	nav {
		margin-bottom: 25px;
	}
</style>
